/*Definição das fontes e tamanho da fonte*/
body {
    font-family: Arial, sans-serif;
    font-size: large;
}

/*Aplicação de borda e configurações da borda no conteúdo*/
header, main, aside, footer {
    border: 1px solid black;
    margin-bottom: 6px;
}

/*Configurções do cabeçalho*/
header {
        display:flex;
        align-items: center;
        justify-content: space-between;
        height: 120px;
        padding-left: 1rem;
        padding-right: 2rem;
}

/*Configurações do tamanho, formato e posição da imagem em relação às bordas*/
img {
    height: 100px;
    border-radius: 50px;
    margin-left: 2em;
}

/*Organizando main e aside*/
div {
    display: flex;
}

/*Configurações de altura*/
main, aside{
    height: 250px;
    padding: 2em 2em 2em 2em;
}

/*Configurações da seção 1*/
main {
    width: 75%;
    float: left;
    text-align: justify;
    margin-right: 6px;
}

/*Configurações da seção 2*/
aside {
    width: 25%;
    float: right;
}

.cabecalho {
    justify-content: center;
    margin-bottom: 3em;
}

.corpo {
    display: block;
    margin-left: 5em;
}

/*Configurações do rodapé*/
footer {
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}